.container {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

h1 {
  text-align: center;
}

.container a {
  color: #04bd0a;
  margin-right: 0.1rem;
}

.container ul {
  margin-left: 1rem;
}

@media only screen and (min-width: 1000px) {
  .row {
      display: flex;
      align-items: center;
  }

  
  .reverse {
    flex-direction: row-reverse;
  }

  .row div {
    max-width: 50%;
  }

  .row div {
    margin-right: 1rem;
  }
}

.container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgb(36, 34, 34) 3px 3px 7px;
  margin-top: 1rem;
}
