h1 {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .row div {
        margin-right: 1rem;
        min-width: 50%;
    }

    .noWrap {
        flex-wrap: nowrap !important;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    img {
        width: 80%;
        height: auto;
        margin: 0.5rem;
    }
}

img {
    width: 100%;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: rgb(36, 34, 34) 3px 3px 7px;
}

.imgCenter {
    text-align: center;
}
.smallerHeight {
    width: auto;
    height: 75vh;
}
