h1 {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .row {
        display: flex;
    }

    .row div {
        margin-right: 1rem;
    }

    figure {
        width: 20rem;
    }

    #resultPictures > figure {
        min-width: 30%;
        margin: 0.5rem;
        height: auto;
    }
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

figure {
    margin-top: 0.5rem;
    min-width: 100%;
    border: #fff 3px solid;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: rgb(36, 34, 34) 3px 3px 7px;
}
