.functionality img {
  width: 100%;
  height: auto;
  border: #fff 3px solid;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: rgb(36, 34, 34) 3px 3px 7px;
}
.functionality > p {
  margin-bottom: 2rem;
}
