.hide {
    display: none;
}

.container {
    width: 60%;
    margin-top: 20vh !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.bigCode {
    color: #04bd0a;
    font-size: 10rem;
    font-weight: bold;
}

.container img {
    border-radius: 10px;
    box-shadow: rgb(36, 34, 34) 3px 3px 7px;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.backIcon {
    font-size: 2rem;
    color: #04bd0a;
}

@media only screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    img {
        margin-top: 2rem;
    }
}